.btn-primary {
    --bs-btn-bg: #80489C;
    --bs-btn-hover-bg: #a974c4;
}
#regcomprador-container{
    margin-top: 20%;
}
#regcomprador-container h2,
#regcomprador-container button,
#regcomprador-container form
{
    width: 100%;
}
#regcomprador-container button
{
    margin-top: 15px;
    
    border: 2px solid #09040c;
    
}
#regcomprador-container .Form-Label
{
    float: left;
}
