#login-container{
    margin-top: 10%

}


#login-container h2{
    margin-left: 405px;
    width: 100%;
}
#login-container form {
    width: 100%;
}

#login-container button {
    margin-top:20px;
    margin-left: 90px;
    
}

#login-container .form-label {
    float: left;
    margin-top:15px;
}

#login-container button{
    width: 40%;
    float: left;
}
 /* #col{
    width: 40%;
    float: right;
    margin-top:5%;
}  */