.btn-primary {
    --bs-btn-bg: #80489C;
    --bs-btn-hover-bg: #a974c4;
}
#regvendedor-container{
    margin-top: 5%;
}
#regvendedor-container h2,
#regvendedor-container button,
#regvendedor-container form
{
    width: 100%;
}
#regvendedor-container button
{
    margin-top: 15px;
    
    border: 2px solid #09040c;
}
#regvendedor-container .Form-Label
{
    float: left;
}
